		<div class="center">
	    	<div class="center-nav"><a href="##">更多&gt;&gt;</a>
	        </div>
	        <div class="center-pic clearfix"><p>大余县xxxxxx公司城里于2002年9月，大余县xxxxxx公司城里于2002年9月，大余县xxxxxx公司城里于2002年9月，大余县xxxxxx公司城里于2002年9月，大余县xxxxxx公司城里于2002年9月，大余县xxxxxx公司城里于2002年9月，大余县xxxxxx公司城里于2002年9月，大余县xxxxxx公司城里于2002年9月，大余县xxxxxx公司城里于2002年9月，大余县xxxxxx公司城里于2002年9月，大余县xxxxxx公司城里于2002年9月..</p>
	        </div>
	        <div class="center-nav center-nav2"><a href="##">更多&gt;&gt;</a>
	        </div>
	        <div class="center-bottom">
	        <ul class="center-ul">
	        <li><a href="#"><img src="images/center-01.jpg" class="center-ul-img" /><p>产品电器F0000001号</p></a></li>
	        <li><a href="#"><img src="images/center-01.jpg" class="center-ul-img" /><p>产品电器F0000001号</p></a></li>
	        <li><a href="#"><img src="images/center-01.jpg" class="center-ul-img" /><p>产品电器F0000001号</p></a></li>
	        <li><a href="#"><img src="images/center-01.jpg" class="center-ul-img" /><p>产品电器F0000001号</p></a></li>
	        </ul>
	        </div>
	    </div>
	    
	    <div class="right">
	    	<div class="center-nav right-nav-3"><a href="##">更多&gt;&gt;</a>
	        </div>
	        <div class="right-pic">
	        	<div class="right-pic-li"><a href="##"><img src="images/left-01.jpg" /></a></div>
	            <ul class="right-pic-ul clearfix">
	            	<li><a href="#">1</a></li>
	                <li><a href="#">2</a></li>
	                <li><a href="#">3</a></li>
	            </ul>
	        </div>
	        <ul class="right-bottom">
	        	<li ng-repeat="x in names"><a href="#"><i></i>{{ x.Name }}</a></li>
	        </ul>
	    </div>