		<div class="productlist">
	    	<div class="main-detail-bg"><i></i>您现在所在的位置：<a href="index.html" class="main-detail-index">首页</a>&gt;<a href="listarticle.html">行业资讯</a>
	        </div>
	        
	        <ul class="article">
	        	<li class="clearfix"><a href="#detail">&gt;&gt;江西大于xxxxx深加工产业基地江西大于xxxxx深加工产业基地江西大于xxxxx深加工产业基地</a><p>2013-3-08</p></li>
	            <li class="clearfix" ng-repeat="x in names"><a href="#detail">&gt;&gt;{{ x.main }}</a><p>{{ x.time }}</p></li>
	        </ul> 
	        
	        <div class="main-page articlepage">
		    <a href="##">1</a>
		    <a href="##">2</a>
		    <a href="##">3</a>
		    <a href="##">4</a>
		    <a href="##">5</a>
		    ...
		    <a href="##">18</a>
		    <a href="##">19</a>
		    <a href="##">20</a>
	    </div>